body{
    background-color: #051615;  
}
.encabezado{
    width: 100%;
    background: black;
}
.encabezado h1{ 
    width: 120px;
    padding: 2% 0 2% 2%;
    margin: 0%;
}
.encabezado h2{ 
    position: absolute;
    top: 5%;
    right: 700px;
    color: aliceblue;
    text-align: center;
    margin: 0% 0 0 0%;
    width: 500px;
    font-size: 2em;
    box-shadow:0 0 10px lawngreen;
 
}
main {

    background: linear-gradient(#000000, #051615)
    
}
#caja1{
    position:relative;
    left:20% ;
    box-shadow:0 0 10px lawngreen;

}
#caja2{
    position: absolute;
    right: 20%;
    box-shadow:0 0 10px lawngreen;
}
footer{
  
    width: 100%;
    background-color: #051615;
}
.ingresar ,.cifrar,.decifrar,.copiar{
    background-color: cadetblue;
    font-size: 20px;
    border-radius: 20px;
    border: #ffffff;
    border-style: double;
    transition: 0.5s all;
    margin: 2% 0 2% 0;
}
.ingresar:hover,.cifrar:hover,.decifrar:hover,.copiar:hover{
    background-color: darkseagreen;
    transform: scale(1.1);
    box-shadow:0 0 10px lawngreen;
    
}
.ingresar{
    position: relative;
    left: 25%;
}
.cifrar{
    position: relative;
    left: 41.5%;
}
.decifrar,.copiar{
    position: relative;
    left: 57%;
}
h4{
    margin: 0 0 0 30px;
    position: relative;
    font-size: medium;
    color: #ffffff;
}

h3{
    position: absolute;
    left: 90%;
    top: 90%;
}
