body{
   
    background:linear-gradient( #000000 20%,#051615 90%);
   
    
    
}

.encabezado{
    width: 100%;
    background: black;
    margin: 0 auto;
    padding: 0 0 150px;


}
.encabezado h1{ 
    width: 48px;
    padding: 50px 0 20px 70px;
    margin: 0%;
    position: relative;
    

}
.encabezado h2{ 
    position: absolute;
    top: 2rem;
    left: 35%;
    color: aliceblue;
    text-align: center;
    text-shadow: 10px 10px 40px green;
    margin: 1.5% 0 0 0%;
    width: 500px;
    font-size: 2em;
    box-shadow:0 0 10px lawngreen;
 
}
main {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#000000, #051615)
    
}


#caja1{

    position:relative;
    left:10% ;
    box-shadow:0 0 10px lawngreen;

}
#caja2{
    
    position: relative;
    left: 51%;
    box-shadow:0 0 10px lawngreen;
    
}
footer{
    margin: 0 auto;
    width: 100%;
    background-color: #051615;
    padding: 3px 0 15px;
}
.ingresar ,.cifrar,.decifrar,.copiar{
    background-color: cadetblue;
    font-size: 20px;
    border-radius: 20px;
    border: #ffffff;
    border-style: double;
    transition: 0.5s all;
    margin: 2% 0 2% 0;
}
.ingresar:hover,.cifrar:hover,.decifrar:hover,.copiar:hover{
    background-color: darkseagreen;
    transform: scale(1.1);
    box-shadow:0 0 10px lawngreen;
    
}
.ingresar{
    position: relative;
    left: 15%;
}
.cifrar{
    position: relative;
    left: 38.5%;
}
.decifrar,.copiar{
    position: relative;
    left: 62%;
}

h3{
 position: relative;
 margin: auto;
 width:  48px;
 left: 40%;
 box-shadow:0 0 20px blue ;
 transition: 1.2s all;
}
h3:hover{
    transform: scale(1.3);
}

h4{
    left: 5%;
    margin: 0 0 0 30px;
    position: absolute;
    font-size: medium;
    color: #ffffff;
    text-shadow:0 0 20px #ffffff;
}

@media screen and (max-width:480px){
    .encabezado{
        padding: 0 0 38px;
    }
    .encabezado h1 {
        width: 40px;
        padding: 48px 0 0px 8px;
        margin: 0%;
        position: relative;
    }
   .encabezado h2{
        position: absolute;
        left: 25%;
        width: 386px;
    }
    #caja2{
     
        left: 10%;
    }
    .decifrar {
        position: absolute;
        left: 110%;
        top: 143%;
    }
    .cifrar {
        position: absolute;
        left: 112.5%;
        top: 58%;
    }
    .ingresar {
        position: absolute;
        left: 110.5%;
        top: 46%;
    }
    .copiar {
        position: absolute;
        left: 111.5%;
        top: 152%;
    }
    h3{
     margin: 0 0 0 97%;
    }
}
